@media (max-width: 768px) {
    body {
        background-color: #FFB48F;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .navigation {
        background-color: #A64AC9;
        padding: 10px;
    }

    .navig {
        border-bottom: 1px solid #FCCD04;
    }

    .navigation a {
        color: #F5E6CC;
        font-size: 10px;
        margin-right: 0px;
        text-decoration: none;
        text-shadow: 1px 1px 2px #A64AC9;
        padding: 2px;
    }


    .container {
        margin: 0 auto;
        padding: 10px;
        font-size: 10px;
        text-align: center;
    }

    .container2 {
        text-align: left;
    }

    .container2 li a {
        font-size: 13px;
        color: #000;
    }

    h1 {
        color: #17E9E0;
        text-shadow: 1px 1px 2px #A64AC9;
    }

    h2 {
        color: #17E9E0;
        text-shadow: 1px 1px 2px #A64AC9;
    }

    .my_image {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .author-image {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .car-image {
        width: 150px;
        height: 97px;
    }

    .video {
        width: 300px;
        height: auto;
    }

    .message {
        width: 300px;
        height: 30px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        border: 2px solid #000;
    }

    table,
    td {
        padding: 5px;
        text-align: left;
        border: 1px solid #000;
    }
}

@media (min-width: 627px) {
    body {
        background-color: #FFB48F;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .navigation {
        background-color: #A64AC9;
        padding: 20px;
    }

    .navig {
        border-bottom: 2px solid #FCCD04;
    }

    .navigation a {
        color: #F5E6CC;
        margin-right: 0px;
        text-decoration: none;
        text-shadow: 1px 1px 2px #A64AC9;
        padding: 10px;
        font-size: 16px;
    }


    .container {
        margin: 0 auto;
        padding: 20px;
        font-size: 20px;
        text-align: center;
    }

    .container2 {
        text-align: left;
    }

    .container2 li a {
        font-size: 25px;
        color: #000;
    }

    h1 {
        color: #17E9E0;
        text-shadow: 1px 1px 2px #A64AC9;
    }

    h2 {
        color: #17E9E0;
        text-shadow: 1px 1px 2px #A64AC9;
    }

    .my_image {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .author-image {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .car-image {
        width: 300px;
        height: 195px;
    }

    .video {
        width: 600px;
        height: auto;
    }

    .message {
        width: 600px;
        height: 90px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        border: 3px solid #000;
    }

    table,
    td {
        padding: 5px;
        text-align: left;
        border: 1px solid #000;
    }

}